/target
/grad/target
/sumyu/target
/Tests
/Datasets/pokedex.txt
/Datasets/recipes.txt
/Production/PokeP1.sumyu
/Production/PokeP1_64_minutes.sumyu
/Production/PokeP2.sumyu
/Production/PokeP2_mini.sumyu
/.idea
Runs