target
grad/target
sumyu
Tests
.idea
src/bin
RecipeConvExperiment.sumyu
MiniRecipe.sumyu
pretrainV2.sumyu
pretrainV4.sumyu
pretrainV5.sumyu
pretrainV6.sumyu
pretrainV7.sumyu
pretrainV8.sumyu
pretrainV8restart.sumyu
PokeP5.sumyu
Datasets/pokedex.txt
Datasets/recipes.txt
Datasets/oasst1.txt
Datasets/fineweb.txt
Datasets/fineweb_v2.txt
Datasets/fineweb_v2_sample.txt
Datasets/fineweb_v3.txt
Production/PokeP1.sumyu
Production/PokeP1_64_minutes.sumyu
Production/PokeP2.sumyu
Production/PokeP2_mini.sumyu
Production/PokeP3.sumyu
Production/PokeP4_32c.sumyu
RunsDir
pretraining
pretraining_v6
pretraining_v7
pretraining_v8
pretraining_v8restart